// Variables


$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$break-point-widest-min: 990px;
$break-point-widest-min-font-size: 24px;

$primary: #007D36 !default;
$gray: #92A99C !default;
$white: $gray !default;
$light-primary: #33A446 !default;
$primary-alternative: #9D3C42;

//https://coolors.co/007d36-9d3c42-92a99c-000000-33a446
